/* what should we comment this? */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* this is backgorung color of the website */
body {
    background-color: #d9dcd6;
}

/* holds the links and logo */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* size and position of logo? */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* this is the greyed out part "seo" of the logo */
.header h1 .seo {
    color: #d9dcd6;
}

/* link size, font and spacing */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* display of links */
.header div ul {
    list-style-type: none;
}

/* link location */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* link colour */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph for all <p> */
p {
    font-size: 16px;
}

/* holds the background image with the 4 guys */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* how to add an alt to this image */
    background-size: cover;
    background-position: center;
}

/* image position left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* image position right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* this holds all the images and the text in <article> */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* holds the icons and the text from <aside> */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* text color and margin for <aside> */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* text color and margin for <aside> */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* text color and margin for <aside> */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* title position <aside> */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* title position <aside> */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* title position <aside> */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* icon position <aside> */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* icon position <aside> */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* icon position <aside> */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* makes the <section><article> content organised */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* makes the <section><article> content organised */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* makes the <section><article> content organised */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image postion for <section><article> */
.search-engine-optimization img {
    max-height: 200px;
}

/* image postion for <section><article> */
.online-reputation-management img {
    max-height: 200px;
}

/* image postion for <section><article> */
.social-media-marketing img {
    max-height: 200px;
}

/* size title <section><article> */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* size title <section><article> */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* size title <section><article> */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer font size and position */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer font size and position */
.footer h2 {
    font-size: 20px;
}
